body {
    margin: 0;

    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form-div {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background-color: #0a0f1a;
    color: aliceblue;
}

h2 {
    font-size: 2em;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

form {
    padding: 10px;

    display: flex;
    flex-direction: column;

    border-radius: 5px;
    border: 2px solid cornflowerblue;
    box-shadow: 0px 0px 10px cornflowerblue;



    font-size: 1.2em;
}

form label {
    padding: 5px;

    display: flex;
    justify-content: space-between;


    width: 400px;
}

form input,
select {
    border: none;
    border-radius: 3px;
}

form label select:focus,
input:focus {
    outline: 2px solid cornflowerblue;
    box-shadow: 0px 0px 5px cornflowerblue;

}

input[type="submit"] {
    margin-top: 10px;
    padding: 5px 0px;

    border-radius: 5px;
    background-color: cornflowerblue;
    box-shadow: 0px 0px 10px cornflowerblue;
    border: 2px unset cornflowerblue;

    color: aliceblue;

    text-transform: uppercase;
    font-weight: bold;
}