/* Main page / rules */
body {
    margin: 0;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;

}



img {
    width: 100%;
}

.navbar {
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: 3px solid black;
    border-top: 3px solid black;

    box-shadow: 0px 0px 5px black;
    position: sticky;
    top: 0;
    left: 0;
}

.navbar ul {
    display: flex;
    list-style: none;

}

.navbar ul li {
    margin: 10px 25px;
    transition: 0.3s;
}

.navbar ul li a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;

    font-size: 1.1em;
    font-weight: bold;
}

.navbar ul li:hover {
    transform: scale(1.1);
}

.navbar ul li:hover>a {
    font-weight: bolder;

    text-decoration: underline;
}

/* ------- */


/* About me page */
.about-me-div {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 15px;
}

.about-me-img,
.about-me-text {
    border: 2px solid black;
    border-radius: 10px;

    margin: 15px;
}

.about-me-img {
    display: flex;
    overflow: hidden;
    width: 300px;

}

.about-me-img img {
    border-radius: 5px;
}

.about-me-text {
    width: 500px;
    padding: 10px;
    box-shadow: inset 0px 0px 10px 1px black;

}

/* ---- */



/* footer */
.footer {
    background-color: white;

    display: flex;
    align-items: center;
    justify-content: space-around;

    padding: 15px;

    border-bottom: 3px solid black;
    border-top: 3px solid black;

    box-shadow: 0px 0px 5px black;
    bottom: 0;
}

.footer a {
    text-decoration: none;
    text-transform: uppercase;
    color: black;

    font-size: 1.1em;
    font-weight: bold;
    transition: 0.3s;
}

.footer a:hover {
    text-decoration: underline;
    transform: scale(1.1);
}

/* ---- */


/* Table */
.table-container {

    padding: 15px;
}

table {
    border-collapse: collapse;
    width: 100%;
    background-color: white;
    width: 100%;
    font-size: 1.1em;
}

th,
td {

    font-weight: bolder;
    line-height: 1.4;
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

th {
    background-color: lightskyblue;
    color: white;
    font-weight: bold;
}


.lecture-cell {
    background-color: palegoldenrod;
}

.subject {
    font-weight: bold;
    color: darkslategray;
}

.auditorium {
    font-weight: bold;
}

.teacher {
    font-style: italic;
    color: gray;
}